@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 206 0% 95%;
        --foreground: 206 0% 0%;
        --card: 206 0% 90%;
        --card-foreground: 206 0% 10%;
        --popover: 206 0% 95%;
        --popover-foreground: 206 95% 0%;
        --primary: 206 70.8% 49.6%;
        --primary-foreground: 0 0% 100%;
        --secondary: 206 10% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 168 10% 85%;
        --muted-foreground: 206 0% 35%;
        --accent: 28 70.8% 49.6%;
        --accent-foreground: 206 0% 10%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 206 0% 90%;
        --border: 206 20% 50%;
        --input: 206 20% 18%;
        --ring: 206 70.8% 49.6%;

        --radius: 1rem;
    }
    .dark {
        --background: 206 0% 95%;
        --foreground: 206 0% 0%;
        --card: 206 0% 90%;
        --card-foreground: 206 0% 10%;
        --popover: 206 0% 95%;
        --popover-foreground: 206 95% 0%;
        --primary: 206 70.8% 49.6%;
        --primary-foreground: 0 0% 100%;
        --secondary: 206 10% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 168 10% 85%;
        --muted-foreground: 206 0% 35%;
        --accent: 28 70.8% 49.6%;
        --accent-foreground: 206 0% 10%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 206 0% 90%;
        --border: 206 20% 50%;
        --input: 206 20% 18%;
        --ring: 206 70.8% 49.6%;

        --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
.rdp-vhidden {
    @apply hidden;
}

html {
    scroll-behavior: smooth;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr)
    ); /* Flexible columns */
    grid-auto-rows: 0; /* Default row height */
    gap: 16px; /* Spacing between items */
}

.masonry > * {
    break-inside: avoid; /* Prevent content from breaking into another column */
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-Bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-BoldItalic.woff2')
        format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-Heavy.woff2') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-HeavyItalic.woff2')
        format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-Light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-LightItalic.woff2')
        format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-Medium.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-MediumItalic.woff2')
        format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-Regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-RegularItalic.woff2')
        format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-SemiBold.woff2') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SaansTrial';
    src: url('/fonts/SaansTrial/Saans-TRIAL-SemiBoldItalic.woff2')
        format('truetype');
    font-weight: 600;
    font-style: italic;
}

body {
    font-family: 'SaansTrial', sans-serif !important;
}
